<div class="container">
  <div class="center-block">
    <h2>Выполнение работ на фрезерном станке</h2>

    <div class="row">
      <div style="padding: 15px; margin: 10px">
        <div>
          Мы предлагаем выполнение работ на фрезерном станке. Отрисовка узоров любой сложности практически на любом
          материале.

          <ul>Некоторые из материалов, которые могут использоваться:
            <li>жесткие пластики (PMMA-PC-PS-PVC-ABS и т.д.);</li>
            <li>жестковспененные (PU-PS и т.д);</li>
            <li>композитные материалы для строительства и производства;</li>
            <li>дерево и продукция из дерева;</li>
            <li>текстолит;</li>
            <li>цветные металлы и сплавы на основе алюминия и меди;</li>
            <li>сталь и нержавеющая сталь.</li>
          </ul>
        </div>
        <div>
          Цены на фрезерно-гравировальные работы:<br>
<pre>
<b>Наименование Материал Толщина Стоимость </b>
Фрезеровка             ПВХ                    1-8 мм       40 руб./п.м.   
Фрезеровка             ПВХ                    10 мм        50 руб./п.м.   
Фрезеровка             Оргстекло              1-8 мм       40 руб./п.м.   
Фрезеровка             Оргстекло              10-15 мм     50 руб./п.м.   
Фрезеровка             Оргстекло              15-20 мм     120 руб./п.м.  
Фрезеровка             Композит               2-4 мм       40 руб./п.м.   
Фаска                  Композит               1,5-4 мм     40 руб./п.м.   
Фрезеровка             Graflux, Metzoplast    1,5-3 мм     40 руб./п.м.   
Гравировка             Оргстекло                           30 руб./п.м.   
Гравировка             Композит, Graflux                   20 руб./п.м.   
Подготовка файла                                           от 100 руб. 
</pre>
        </div>
        <br><br>

        <div style="margin-left:50px">
          Цены приведены в рублях, с НДС, п.м. - погонный метр прохода фрезы.<br>

          <div>
            <ul>Все расценки приведены:
              <li>без стоимости материала;</li>
              <li>за срочность заказов вводится коэффициент 2;</li>
              <li>стоимость фрезерных работ по металлам рассчитывается индивидуально;</li>
              <li>для объема работ свыше 150 п.м. резки предусмотрены скидки;</li>
            </ul>
          </div>
          <br>
          Файлы должны предоставляться в векторном виде, в формате *.cdr, в кривых, в масштабе 1:1
        </div>
      </div>
    </div>
    <div class="milling_images">
      <%= image_tag image_path('milling/image41320131111110300992.jpg') %>
      <%= image_tag image_path('milling/image42020131111110300612.jpg') %>
      <%= image_tag image_path('milling/image55220131111110259167.jpg') %>
    </div>
    <div class="milling_images">
      <%= image_tag image_path('milling/image74920131111110300187.jpg') %>
      <%= image_tag image_path('milling/image81220131111110300991.jpg') %>
      <%= image_tag image_path('milling/image85320131111110300688.jpg') %>
    </div>
  </div>
</div>