<div class="two-cols">
  <div class="tc-left">
    <p style="margin-right:-400px;">В России проект установки рекламных урн впервые стартовал в 2004 году в Москве. Не
      отстают в этом направлении и другие города, так например, на сегодняшний день в Тюмени установлено 300 таких
      рекламоносителей. Как правило, рекламные урны размещаются в центральной части города, вдоль тротуаров, на
      площадях или у магазинов.</p>
    <br>
    <h4>Рекламная урна (бин-бокс)</h4>
    <%= image_tag image_path('production/street_furniture/img-4.jpg'), alt: '', style: '' %><br>
    <br>

    <p>На лицевой и тыльной стороне размещается рекламный постер с внутренней подсветкой. В средней части, между
      постерами, находится мусорный контейнер, который свободно выдвигается для освобождения от бытовых отходов.<br>
      <br>
      Предусмотрен скрытый замок с ключом на одном из торцов. Средняя часть рекламной урны, включая контейнер под
      мусор, представляют собой сварную металлическую конструкцию, створки бин-бокса изготавливаются из элегантного
      алюминиевого профиля с внутренними ребрами жесткости.</p><br><br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Рекламные урны типа бинбокс выполнены из алюминиевого профиля высокого качества (алюминиевый сплав АД31
          ГОСТ 4784-97).
        </li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.</li>
      </ul>
      <ul>
        <li>Допускается применение системы натяжения банера в статических бинбоксах (в том случае, если вы решили
          отказаться от использования стекла).
        </li>
        <li>Возможность установки цифровой роллерной системы DiM-30.</li>
      </ul>
    </div>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.</p>
    <br><br><br>
    <h4>Преимущества рекламной урны</h4>
    <ul>
      <li>Эффект новизны</li>
      <li>Современный внешний вид</li>
      <li>Наличие двух рекламных поверхностей с внутренней подсветкой</li>
      <li>Непосредственный контакт потребителя с носителем</li>
      <li>Рекламные урны могут быть отличным дополнением к остановочным павильонам</li>
      <li>Установка в местах наибольшей проходимости потенциальных потребителей</li>
      <li>Положительное восприятие потребителями данной рекламной конструкции, т.к. она отвечает за экологические
        проблемы города
      </li>
    </ul>
    <br><br>
    <%= image_tag image_path('production/street_furniture/con-urna-1.jpg'), alt: '', style: '' %></div>
  <div class="tc-right">
    <br><br><br><br><h4 style="padding-top: 10px">Уплотнительная резинка</h4>
    <%= image_tag image_path('production/street_furniture/img-5.jpg'), alt: '', style: '' %><br>
    <br>

    <p>Для предотвращения попадания влаги внутрь короба по периметру створки (изнутри) проклеивается уплотнительная
      резинка. Стекло крепиться к раме с помощью специальных прижимных планок. Рекламная урна поставляется в комплекте
      с опорой, которая крепится к месту установки с помощью 6 анкерных болтов.</p><br>
    <h4>В створках может быть установлено 3—5 мм</h4>

    <p>Оргстекло — разбить сложно, но поверхность можно поцарапать. Поликарбонат — более дорогое решение, но такое
      стекло невозможно разбить даже при сильных морозах.</p><br>
    <br>

    <div style="height:200px;"></div>
    <h4>Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>В Ситиформат возможна установка цифрового роллерного механизма DSS.</p><br>
    <br>
    <br>
    <h4 style="margin-top: 5px">Возможна система «Сделай сам»</h4>
    <a href="/catalogue/diy/diy_binbox/31/"><%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %></a>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p><br><br><br><br><br>
    <%= image_tag image_path('production/street_furniture/con-urna-2.jpg'), alt: '', style: 'margin-top:10px;' %></div>
</div>

<p></p><h4>Пример спецификации на разработку и изготовление конструкции «лайтбокс с мусоросборным контейнером»</h4>
<ul>
  <li>Размер: 1200 мм × 840 мм</li>
  <li>Условия эксплуатации — улица (при температуре от -50 до +50 градусов С)</li>
  <li>Расположение и перемещение контейнера — по горизонтали</li>
  <li>Исполнение — двустороннее (статика + статика)</li>
  <li>Короб металлический, сварной двойной (см. эскизный проект)</li>
  <li>Створки алюминиевые с внутренними петлями и двумя замками сбоку</li>
  <li>Короб влагонепроницаемый — с уплотнительной резинкой по периметру</li>
  <li>Окраска полимерная, цвет: по палитре RAL</li>
  <li>Закалёное стекло: 880 × 680 × 3 мм</li>
  <li>Вес конструкции не более 60 кг</li>
  <li>Лампы люминесцентные — всего 8 шт. по 18 Вт., по 4 шт. на каждой стороне соответственно, цвет — № 54; либо
    светодиодная лента <br>
    <small>(см. раздел Системы-конструкторы бинбокс)</small>
  </li>
  <li>Недельный программируемый таймер вкл. выкл. ламп подсветки</li>
  <li>Схема включения ламп — бесстартерная (электронные ПРА)</li>
  <li>Общая потребляемая эл. мощность: не более 300 Вт</li>
  <li>Напряжение 220 V</li>
  <li>Носитель изображения — банер (300 г/м3) или бэклайт полотно с полноцветной печатью</li>
  <li>Установка банерного полотна или бэклайта при помощи специальных зажимов</li>
  <li>Количество конструкций: N шт.</li>
</ul>
<br><br>
<h4>Технические характеристики рекламной конструкции бин-бокс</h4>
<table cellpadding="0" cellspacing="0" class="specifications">
  <tbody>
  <tr class="thead">
    <td width="240">
      <div style="height:22px;">Наименование</div>
    </td>
    <td>
      <div style="height:22px;">Значение</div>
    </td>
  </tr>
  <tr>
    <td>Габаритные размеры короба</td>
    <td>1200 × 840 × 470 мм</td>
  </tr>
  <tr>
    <td>Тип крепления</td>
    <td>Отдельно стоящий: на анкера (6 шт.) в брусчатку или асфальт и на фундамент — в грунт</td>
  </tr>
  <tr>
    <td>Тип изображения</td>
    <td>статика / статика (1+1)</td>
  </tr>
  <tr>
    <td>Размер видимого рекламного поля</td>
    <td>850 × 650 мм</td>
  </tr>
  <tr>
    <td>Исполнение короба</td>
    <td>Сталь 2 мм и алюминиевый профиль</td>
  </tr>
  <tr>
    <td>Подсветка изображения</td>
    <td>Люминесцентные лампы 4 шт. по 18 Вт на каждую сторону</td>
  </tr>
  <tr>
    <td>Потребляемая мощность</td>
    <td>не более 200 Вт</td>
  </tr>
  </tbody>
</table>
<br><br>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="flower">
          <strong>Замена плакатов</strong>

          <p>Простота замены рекламных постеров <br>за счёт системы натяжения и фиксации <br>банера.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="social">
          <strong>Социальная направленность</strong>

          <p>Социальная направленность (наличие <br>мусоросборных контейнеров) в некоторых <br>случаях упрощает
            процедуры по <br>согласованию рекламных мест.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>