<div class="two-cols">
  <div class="tc-left">
    <p>Остановочные павильоны производства компании «ДиМедиа» отлично вписываются в окружающий городской ландшафт и
      также отлично выполняют свои функциональные задачи. В зависимости от вида и комплектации остановочный павильон
      может иметь высокую коммерческую эффективность, к таким относятся конструкции, оснащенные рекламными
      лайтбоксами.<br>
      <br>
      Остановочные комплексы с лайтбоксами очень выгодны для операторов рекламы, а городские власти и горожане, в свою
      очередь, получают красивую городскую мебель.</p>
    <br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Отсутствие сварочных швов.</li>
        <li>Простой технологический процесс сборки и монтажа.</li>
        <li>Остановочные павильоны серии ДиМ выполнены из алюминиевого профиля высокого качества (алюминиевый сплав
          АД31 ГОСТ 4784-97).
        </li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.</li>
      </ul>
      <ul>
        <li>Различные варианты остекления: с зазорами между стеклом и профилем (для уменьшения ветровой нагрузки), без
          зазоров (в том случае, если данные условия предусмотрены вашим проектом).
        </li>
        <li>Допускается применение системы натяжения баннера в статических лайтбоксах (в том случае, если вы решили
          отказаться от стекла в статических лайтбоксах).
        </li>
      </ul>
    </div>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции остановочного павильона подбирается по желанию заказчика в широких пределах по
      палитре RAL.</p>
    <br><br>

    <div class="note">
      <div class="pazzle">
        <strong>Расходы на доставку</strong>

        <p>Системы-конструкторы уменьшают на <br>порядок расходы по доставке, так как <br>объём комплекта поставки
          значительно <br>уменьшается.
        </p>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <p>Автобусная остановка от компании «ДиМедиа» сочетает в себе современный дизайн конструкции с применением
      современных не коррозийных материалов. Автобусный павильон надежно защищает от дождя и ветра. В качестве стенок
      остановочного павильона используется каленое стекло. Отличительной чертой остановочных павильонов «ДиМедиа»
      является легкость сборки и компактность при доставке. В качестве дополнительных опций можно установить лайтбокс
      или скроллер, информационные стенды, освещение в темное время суток. Также стоит отметить, что хорошим
      дополнением к остановочному павильону являются рекламные урны (бин-боксы).</p>


    <div style="height:260px;margin-top: 15px"></div>
    <h4>Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>В остановочные павильоны возможна установка цифрового роллерного механизма DSS.</p>
    <br><br>
    <h4>Возможна система «Сделай сам»</h4>
    <a href="/catalogue/diy/diy_busstop/45/"><%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %></a>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <%= image_tag image_path('production/street_furniture/con-ostanovka-12.jpg'), alt: '', style: '' %><br><em>Торговый центр «Мега», Ikea, в г.Самара</em><br><br>
    <%= image_tag image_path('production/street_furniture/con-ostanovka-9.jpg'), alt: '', style: '' %><br><em>Остановочный павильон ДиМ в г.Томск</em><br><br>
    <%= image_tag image_path('production/street_furniture/con-ostanovk-1.jpg'), alt: '', style: '' %><br><em>Выставка «Реклама-2010», г.Москва</em><br><br>
    <%= image_tag image_path('production/street_furniture/con-ostanovk-3.jpg'), alt: '', style: '' %><br><em>Выставка «Реклама-2009», г.Москва</em><br><br>

    <div class="nnote">
      <div class="nwrap">
        <div class="roll"><strong>Роллерная система</strong>

          <p>Возможность установки цифровой <br>роллерной системы в модели ДиМ <br>с лайтбоксом.</p></div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/street_furniture/con-ostanovka-11.jpg'), alt: '', style: '' %><br><em>Остановочный павильон ДиМ в г.Томск</em><br><br>
    <%= image_tag image_path('production/street_furniture/con-ostanovka-10.jpg'), alt: '', style: '' %><br><em>Остановочный павильон ДиМ в г.Томск</em><br><br>
    <%= image_tag image_path('production/street_furniture/con-ostanovk-2.jpg'), alt: '', style: '' %><br><em>Выставка «Реклама-2010», г.Москва</em><br><br>
    <%= image_tag image_path('production/street_furniture/con-ostanovk-4.jpg'), alt: '', style: '' %><br><em>Выставка «Реклама-2009», г.Москва</em><br><br>

    <div class="nnote">
      <div class="nwrap">
        <div class="modul"><strong><br><br>Модульность конструкции</strong>

          <p></p></div>
      </div>
    </div>
  </div>
</div>
<p></p>