<div class="two-cols">
  <div class="tc-left">
    <h4>Описание рекламной конструкции</h4>

    <p>Многофункциональная кабина представляет собой конструкцию сочетающую в себе удобство, комфорт и практичность.
      Конструкция является сборной и выполнена из специального алюминиевого профиля.<br>
      Все детали конструкции надежно крепятся между собой болтовыми соединениями. В многофункциональной кабине
      предусмотрены крепления к месту установки. По желанию заказчика возможен подбор цвета и изменения конструктива,
      связанных с особенностью места установки.</p>
    <br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Отсутствие сварочных швов.</li>
        <li>Простой технологический процесс сборки и монтажа.</li>
        <li>Многофункциональные кабины серии ДиМ выполнены из алюминиевого профиля высокого качества (алюминиевый
          сплав АД31 ГОСТ 4784-97).
        </li>
        <li>Различные варианты остекления: с зазорами между стеклом и профилем (для уменьшения ветровой нагрузки), без
          зазоров (в том случае, если данные условия предусмотрены вашим проектом).
        </li>
      </ul>
      <ul>
        <li>Допускается применение системы натяжения баннера в статических лайтбоксах (в том случае, если вы решили
          отказаться от стекла в статических лайтбоксах).
        </li>
        <li>Возможность установки цифровой роллерной системы в модели ДиМ с лайтбоксом.</li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.</li>
      </ul>
    </div>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.</p>
    <br><br><br>
    <h4>Многофункциональность кабины</h4>

    <p>В кабинке могут быть расположены не только средства связи, но и различные терминалы оплаты услуг, банкоматы и
      т. д.</p>
    <br>
    <%= image_tag image_path('production/street_furniture/con-phone-1.jpg'), alt: '', style: 'margin-top:135px;' %></div>
  <div class="tc-right">
    <h4>Система подсветки</h4>

    <p>Многофункциональная кабина оснащена двумя, симметрично расположенными, рекламными лайтбоксами сити-формата (1,2
      × 1,8 м). Рекламный лайтбокс представляет собой двусторонний короб с внутренней подсветкой. Внутренняя подсветка
      рекламных коробов создает условия для искусственного освещения интерьера кабины в темное время суток. Социальный
      вариант такой многофункциональной кабины предусматривает установку стенок из каленого стекла вместо
      рекламоносителей.</p>
    <br><br>

    <div style="height:280px;"></div>
    <br>
    <h4>Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>В лайтбокс сити-формата возможна установка цифрового роллерного механизма DSS.</p>
    <br><br>
    <h4>Возможна система «Сделай сам»</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br>
    <%= image_tag image_path('production/street_furniture/con-phone-2.jpg'), alt: '', style: '' %></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="modul">
          <strong><br><br>Модульность конструкции</strong>

          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="universal">
          <strong>Многофункциональность</strong>

          <p>Многофункциональная направленность: <br>телефонные кабины, мультикассы, <br>банкоматы и т. д.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>