<div class="col-lg-7">
  <h3 style="text-align: center">Обратная связь</h3>
  <%= simple_form_for @message, url: create_url(t('contact')), html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <%= f.input :name, html: {width: '5px'} %>
      <%= f.input :subject %>
      <%= f.input :email %>
      <%= f.input :body, as: :text %>
      <%= f.button :submit, t(:submit), style: 'margin: 0 auto;display: block' %>
  <% end %>
</div>