<div id="item-showcase">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Ситиборды 2,7 × 3,7м', create_url('Продукция', 'Рекламные_конструкции', 'Ситиборды_2_7_3_7'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Ситиборды_2_7_3_7'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/6672e95c3d9836f86b4f5b886acbb449.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>2,7 × 3,7 м</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Флексборды 2,7×3,7м', create_url('Продукция', 'Рекламные_конструкции', 'Флексборды_2_7_3_7'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Флексборды_2_7_3_7'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/bf811dcc2bb67b7b4bd3fbd3c8f58cae.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>2,7 × 3,7 м</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Скроллеры 2,3 × 4,3 м', create_url('Продукция', 'Рекламные_конструкции', 'Скроллеры_2_3_4_3'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Скроллеры_2_3_4_3'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/6b3fe6976d34f96ea23df0001c2e3cb3.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>2 × 4 м</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Скроллеры 2 × 3 м', create_url('Продукция', 'Рекламные_конструкции', 'Скроллеры_2_3'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Скроллеры_2_3'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/564e1b89656464cb55ede3f4dc8dd088.jpg'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>2 × 3 м</em>
          </td>
          <td>
            <p>
              <%= link_to 'Рекламные щиты, билборды', create_url('Продукция', 'Рекламные_конструкции', 'Рекламные_щиты_и_билборды'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Рекламные_щиты_и_билборды'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/5b5453ed17417aa773d676f0db26e931.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>3 × 6 м</em>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <%= link_to 'Роллерные дисплеи, скроллеры', create_url('Продукция', 'Рекламные_конструкции', 'Роллерные_дисплеи_и_скроллеры'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Роллерные_дисплеи_и_скроллеры'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/49e028bfc9252c2c574dbf1a921edca5.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>конструкции с роллерным механизмом</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Пиллары', create_url('Продукция', 'Рекламные_конструкции', 'Пиллары'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Пиллары'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/761b797bdee7b87330e5dc6ecb2d1f9c.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламные изображения<br>1,4 × 2,8 м</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Сити-боксы', create_url('Продукция', 'Рекламные_конструкции', 'Сити-боксы'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Сити-боксы'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/e7436d473a741b74e5fc4cd3408c3ec6.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>1,2 × 1,8 м</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Сити-форматы', create_url('Продукция', 'Рекламные_конструкции', 'Сити-форматы'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Сити-форматы'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/6d6d0b1fefdeecf1820f25eb652d4717.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>1,2 × 1,8 м</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Информационные стенды', create_url('Продукция', 'Рекламные_конструкции', 'Информационные_стенды'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Информационные_стенды'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/8d484f83f33bc30a6e13430103ad7050.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламные изображения<br>1,2 × 1,8 м</em>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'ХоРеКа, панель-кронштейн', create_url('Продукция', 'Рекламные_конструкции', 'ХоРеКа'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'ХоРеКа'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/6403272d47ce48dbdeea03fc18d3e204.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>1,2 × 1,8 м</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Световые рекламные ограждения', create_url('Продукция', 'Рекламные_конструкции', 'Световые_рекламные_ограждения'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Световые_рекламные_ограждения'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/3a1bae6719c97c1cde9774ba26651de6.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>0,75 × 1,6 м</em>
          </td>
          <td>
            <div class="icons">
              <%= image_tag image_path('production/main/ico-dss-s.png'), title: 'Возможна установка SPDE', alt: 'Возможна установка SPDE' %>
              <%= image_tag image_path('production/main/ico-diy-s.png'), title: 'Возможна система «Сделай сам»', alt: 'Возможна система «Сделай сам»' %>
            </div>
            <p>
              <%= link_to 'Скроллеры «Арена»', create_url('Продукция', 'Рекламные_конструкции', 'Скроллеры_арена'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Скроллеры_арена'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/bfd9f6311988801ae1a154c67066c482.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>рекламное изображение<br>0,8 × 2,0 м</em>
          </td>
          <td>
            <p>
              <%= link_to 'Световые короба, лайтбоксы', create_url('Продукция', 'Рекламные_конструкции', 'Световые_короба_и_лайтбоксы'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Световые_короба_и_лайтбоксы'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/67c734af8e781c54346c334563f870e5.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>любые размеры по желанию заказчика</em>
          </td>
          <td>
            <p>
              <%= link_to 'Объемные буквы', create_url('Продукция', 'Рекламные_конструкции', 'Объемные_буквы'), alt: '', title: '' %>
            </p>
        <span>
        <%= link_to create_url('Продукция', 'Рекламные_конструкции', 'Объемные_буквы'), alt: '', title: '' do %>
        <%= image_tag image_path('production/main/adcd4c19c3421186468ff1d3a3d3d448.png'), title: '', alt: '' %>
        <% end %>
        </span>
            <em>любые размеры по желанию заказчика</em>
          </td>
        </tr>
        <tr>
        </tr>
        </tbody>
    </table>
</div>