<div class="two-cols">
  <div class="tc-left">

    Хотите выделиться, сделать наружную рекламу запоминающейся
    и бросающейся в глаза? Тогда вам не обойтись без объемных букв,
    ведь именно они позволят вашей вывеске быть яркой, броской
    и легко читаемой! Многообразие технологий и материалов,
    используемых нами при изготовлении таких букв, позволят вашей
    вывеске стать по-настоящему уникальной и узнаваемой.<br>
    <h4>Пластиковые</h4>
    <%= image_tag image_path('production/advertisment/con-letters-1.jpg'), alt: '' %>
    <br>
    Большинство объемных рекламных букв мы делаем именно из
    пластика и оргстекла. Такие буквы получаются, легкими, прочными,
    надежными. Цветное оргстекло в качестве лицевой панели позволяет
    достичь беспрецедентной сочности и яркости в ночное время.<br>
    <h4>Из пенопласта</h4>
    <%= image_tag image_path('production/advertisment/con-letters-2.jpg'), alt: '' %>
    <br>
    Легкий, простой в изготовлении вариант, отлично подходящий для
    использования внутри помещений. <br>
    <br>
    <h4>С внешней подсветкой</h4>
    <%= image_tag image_path('production/advertisment/con-letters-3.jpg'), alt: '' %>
    <br>
    Закон о рекламе г. Москвы предписывает делать наружную рекламу
    с внутренней подсветкой, однако, в отдельных случаях возможно
    изготовление вывесок с красивыми не световыми буквами
    (например, из металла «под золото») и внешней подсветкой
    софитами или прожекторами.<br>
    <h4>С внутренней подсветкой</h4>
    <%= image_tag image_path('production/advertisment/con-letters-4.jpg'), alt: '' %>
    <br>
    Если требуется достичь максимального эффекта на окружающих,
    то объемные буквы с внутренней подсветкой — это то, что нужно!
    Максимальная яркость и отличный вид в любое время суток! <br>

    <h4>С неоном</h4>
    <%= image_tag image_path('production/advertisment/con-letters-5.jpg'), alt: '' %>
    <br>
    В настоящее время это самая распространенная технология
    подсветки букв и логотипов большая палитра цветов, широкие
    возможности эксплуатации и применения неоновых трубок позволяют
    решать практически все задачи, стоящие перед изготовителем
    наружной рекламы.

  </div>
  <div class="tc-right">

    Наша компания быстро, качественно и с гарантией делает любые
    объемные буквы, логотипы и элементы! <br>
    <br>
    Мы обладаем всеми современными технологиями и знаниями по
    производству данной рекламной продукции и готовы предложить
    буквы на любой вкус и бюджет:<br>
    <br>
    <h4>Металлические</h4>
    <%= image_tag image_path('production/advertisment/con-letters-6.jpg'), alt: '' %>
    <br>
    Буквы из металла всегда выглядят стильно и дорого. Технологии
    позволяют сделать их с «золотым», «серебристым» эффектом.
    Также мы можем окрасить буквы в заданный цвет в порошковой
    камере.<br><br>
    <h4>По типу подсветки</h4>
    <%= image_tag image_path('production/advertisment/con-letters-7.jpg'), alt: '' %>
    <br>
    Несветовые. Преимущественно используются внутри помещений,
    в интерьерной рекламе. Такие буквы просты, надежны и долговечны.<br>
    <h4>По технологии контражур</h4>
    <%= image_tag image_path('production/advertisment/con-letters-8.jpg'), alt: '' %>
    <br>
    Стильный, солидный вариант, обладающий мягким «обратным»
    свечением. По этой технологии рекламные буквы делаются
    с несветовой передней стенкой и ставятся на дистанционные
    держатели — сама подсветка осуществляется за счет обратного
    свечения.<br>
    <h4>Со светодиодами</h4>
    <%= image_tag image_path('production/advertisment/con-letters-9.jpg'), alt: '' %>
    <br>
    Если требуется достичь максимального эффекта на окружающих,
    то объемные буквы с внутренней подсветкой — это то, что нужно!
    Максимальная яркость и отличный вид в любое время суток! <br>
    <h4>С различной световой арматурой</h4>
    С люминесцентными лампами. Это проверенный годами, но уже
    морально устаревший вид подсветки объемных букв. В яркости и
    надежности прилично уступает неону и светодиодам, обладает
    повышенным энергопотреблением. Однако, этот тип подсветки все
    еще пользуется популярностью, т.к. себестоимость люминесцентных
    ламп достаточно невелика.

  </div>
</div>
