<div class="two-cols">
  <div class="tc-left">
    <h4>Описание рекламной конструкции</h4>

    <p>Конструкция билборда изготавливается из металла, после сварочных работ рекламный щит, окрашивается порошковым
      полимерным покрытием, после чего обшивается листами специально обработанной от влаги фанеры. Билборды могут быть
      оборудованы внешней подсветкой при помощи галогенных прожекторов, что обеспечит видимость с дальних расстояний и
      эффективность воздействия рекламного изображения в темное время суток.<br>В качестве рекламного носителя
      рекомендуется использовать баннерную ткань.<br>
      <br>
      Опорная «нога» рекламного щита закрывается декоративным обрамлением. Фундамент конструкции изготавливается из
      бетонных блоков или заливается непосредственно на месте монтажа.</p>
    <br>
    <br>
    <h4>Мы производим рекламные щиты следующих видов</h4>
    <ul>
      <li>Односторонние, размещенные на стенах зданий (брэндмауэр)</li>
      <li>Двухсторонние, отдельно стоящие конструкции (плоские, V-образные)</li>
      <li>Трехсторонние (призмы), конструкции представляющие три рекламных щита объединенных в единый рекламоноситель
        на самостоятельной опоре
      </li>
    </ul>

  </div>
  <div class="tc-right">
    <br>
    <%= image_tag image_path('production/advertisment/con-bilbord-3.jpg'), alt: '', style: '' %>
  </div>
</div>

<h4>Современная альтернатива рекламным щитам 3 х 6 м</h4>

<p>Несмотря на популярность и универсальность формата, щиты 3х6 постепенно вытесняются из центра городов и становятся
  форматом спальных районов и магистралей, поэтому, для охвата центра в рекламные кампании нужно включать другие
  носители наружной рекламы. Мы предлагаем отличное решение по замене морально устаревших биллбордов на современные
  рекламные носители с площадью рекламного изображения 10 кв. метров:
  <%= link_to 'флексборды', create_url('production', 'advertisment', 'flexboard') %>,
  <%= link_to 'ситиборды', create_url('production', 'advertisment', 'cityboard') %> и
  <%= link_to 'светодиодные экраны «под ключ»', create_url('production') %>.<br>
  <br>
  Тем не менее в зависимсти от пожеланий заказчика наше производство готово изготовить и стандартные билборды.</p>
<br><br>

<div class="two-cols">
  <div class="tc-left">
    <%= image_tag image_path('production/advertisment/con-bilbord-1.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика<br>в широких пределах по палитре RAL.</p>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/advertisment/con-bilbord-2.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Особенности флексбордов, светодиодных экранов и ситибордов</h4>
    <ul>
      <li>Современная альтернатива рекламным щитам 3 х 6 м: светодиодные экраны от 10 до 12 кв.м, ситиборды 2,7 х 3,7
        м 10 кв.м, флексборды 10 кв.м
      </li>
      <li>Большой радиус освещения создаёт «острова» безопасности.</li>
      <li>Предусмотрена установка DSS и дополнительного оборудования (см. Аксессуары).</li>
      <li>Конструкции выполнены из алюминиевого профиля высокого качества (алюминиевый сплав АД31 ГОСТ 4784-97).</li>
    </ul>
  </div>
</div>