<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие рекламной конструкции ситибокс</h4>

    <p>Ситибокс — это двухсторонний рекламный короб с интенсивной внутренней подсветкой, выполненный по типу
      конструкции Сити-формата.</p>
    <br><br>
    <h4>Основное отличие ситибокса от сити-формата</h4>

    <p>Ситибокс выполнен по типу конструкции сити-формата. Основным отличием ситибокса является контейнер для сбора
      мусора, установленный в основании конструкции.</p>
    <br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Простота замены рекламных постеров.</li>
        <li>Рекламные урны типа cитибокс выполнены из алюминиевого<br>профиля высокого качества (алюминиевый сплав
          АД31 ГОСТ<br>4784-97).
        </li>
        <li>Возможность установки цифровой роллерной системы SPDE-51A.</li>
      </ul>
      <ul>
        <li>Допускается применение системы натяжения баннера в статических ситибоксах (в том случае, если вы решили
          отказаться от использования стекла).
        </li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.</li>
      </ul>
    </div>
    <%= image_tag image_path('production/advertisment/con-sitybox-2.jpg'), alt: '', style: '' %>
    <br><br><br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.</p><br>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-sitybox-1.jpg'), alt: '', style: '' %></div>
  <div class="tc-right">
    <h4>О контейнере для мусора</h4>

    <p>Контейнер для сбора мусора выполнен из стали, что делает его пожаростойким. Он может быть сплошным, либо
      трехсекционным, т.е. разделенным на три отсека, каждый из которых предназначен для различных видов мусора.
      Высота ситибокса составляет 3 метра, благодаря чему реклама на нем отлично видна как пешеходам, так и водителям
      автомобилей, а интенсивная внутренняя подсветка делает рекламоноситель хорошо заметным даже в ночное время.
      Рекламный короб Ситибокса выполнен в тех же технических рамках, что и конструкция Сити-формата.</p>
    <br><br><br>

    <div style="height:220px;"></div>
    <%= image_tag image_path('production/advertisment/con-sitybox-3.jpg'), alt: '', style: 'margin-top:60px;' %>
    <br><br><br>
    <h4>Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>В Ситибокс возможна установка цифрового роллерного механизма DSS.</p>
    <br><br>
    <h4>Возможна система «Сделай сам»</h4>
    <a href="/catalogue/diy/diy_citybox/35/"><%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %></a>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br><br>

    <p>Ситибокс является новинкой на рынке рекламных конструкций в России, но уже сегодня в столице такие
      рекламоносители встречаются довольно часто и, как правило, большинство рекламных поверхностей на них заняты
      рекламодателями.</p></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="trash">
          <strong>Мусоросборные контейнеры</strong>

          <p>Наличие трех контейнеров для разных <br>типов мусора (пластик, стекло, бумага).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="social">
          <strong>Социальная направленность</strong>

          <p>Социальная направленность (наличие <br>мусоросборных контейнеров) в некоторых <br>случаях упрощает
            процедуры по <br>согласованию рекламных мест.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>