<div class="two-cols">
  <div class="tc-left">
    <p style="margin-right:-470px; zoom:1;">Согласно новым принятым концепциям развития наружной рекламы в городах
      России, большое количество статических конструкций формата более 10 кв.м подлежат демонтажу, так как многие из
      них эстетически устарели и не вписываются в моральный облик города.<br>
      В частности, это относится к рекламным щитам размером 3 × 6 м, перед владельцами таких конструкций стоит вопрос
      по замене статических конструкций крупного формата на конструкции формата до 10 кв.м. Поэтому, сегодня
      стремительно растет популярность роллерных дисплеев, площадь изображения которых соответствует заявленным
      требованиям.</p><br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Площадь изображения менее 10 кв.м</li>
        <li>Роллерный механизм — цифровая роллерная система DSS-80 Dim (Система модульная).</li>
        <li>Предусмотрено программирование: скорости вращения, скорости и пути торможения, время задержки каждого
          кадра отдельно.
        </li>
        <li>Наличие встроенной системы «Антистатика».</li>
      </ul>
      <ul>
        <li>Конструкция скроллера 2,7 × 3,7 м выполнена из алюминиевого профиля высокого качества (алюминиевый сплав
          АД31 ГОСТ 4784-97).
        </li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.</li>
        <li>Отсутствие плёнки Оракал (Oracal) по периметру стекла.</li>
      </ul>
    </div>
    <h4>Понятие рекламной конструкции ситиборд</h4>

    <p>Новая высокотехнологичная рекламная конструкция — роллерный дисплей (скроллер) с видимой частью изображения 3,7
      × 2,7 м, наиболее распространенное название такого рекламоносителя — ситиборд. Ситиборд представляет собой
      рекламный короб габаритным размером 3,0 × 4,0 м с мощной внутренней подсветкой, оснащённый двумя валами с
      злектроприводом и процессором управления.</p>
    <br>
    <%= image_tag image_path('production/advertisment/con-4x2-1.jpg'), alt: '', height: '160px' %>
    <br><br>
    <h4>Стекло роллерного дисплея</h4>

    <p>В качестве ветровой защиты в створную раму скроллера устанавливается каленое стекло толщиной 8 мм. Такое стекло
      обладает хорошей прочностью и его довольно сложно разбить. Створки рекламного щита со стеклом легко открываются
      и закрываются с помощью установленных газовых лифтов.</p>
    <br><br>
    <h4>Роллерный механизм DSS</h4>

    <p>В производстве скроллеров больших форматов мы используем современную и надежную цифровую роллерную систему DSS
      с моторами повышенной мощности, в которой позиционирование кадров происходит без каких либо датчиков. Программа
      работы скроллера задается с помощью выносного пульта подключаемого к плате управления через usb-порт. Высокая
      надежность системы DSS проверена жесткими сибирскими условиями эксплуатации.</p>

    <%= image_tag image_path('production/advertisment/con-3x2-2.jpg'), style: '', alt: '' %>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-3x2-5.jpg'), style: '', alt: '' %>
    <br><br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), style: '', alt: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика<br>в широких пределах по палитре RAL.</p>
    <br>
    <%= image_tag image_path('production/advertisment/con-3x2-1.jpg'), style: '', alt: '' %>
    <br><br>
    <h4 style="margin-right:-50px;">Технические характеристики роллерного дисплея 3,7 × 2,7 м</h4>
    <table cellpadding="0" cellspacing="0" class="specifications">
      <tbody>
      <tr class="thead">
        <td width="240">
          <div style="height:22px;">Наименование</div>
        </td>
        <td>
          <div style="height:22px;">Значение</div>
        </td>
      </tr>
      <tr>
        <td>Высота рекламного короба</td>
        <td>3 000 мм</td>
      </tr>
      <tr>
        <td>Ширина рекламного короба</td>
        <td>4 000 мм</td>
      </tr>
      <tr>
        <td>Глубина рекламного короба</td>
        <td>550 мм</td>
      </tr>
      <tr>
        <td>Масса рекламного короба</td>
        <td>750 кг</td>
      </tr>
      <tr>
        <td>Размеры видимого изображения</td>
        <td>2 700 × 3 700 мм</td>
      </tr>
      <tr>
        <td>Люминесцентные лампы</td>
        <td>20 шт</td>
      </tr>
      <tr>
        <td>Стекло каленое (толщина)</td>
        <td>8 мм</td>
      </tr>
      <tr>
        <td>Макс. потребляемая мощность</td>
        <td>1 400 Вт</td>
      </tr>
      <tr>
        <td>Высота опоры</td>
        <td>3 000 мм</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="tc-right">
    <h4 style="margin-top:450px;">Описание рекламной конструкции «Cити-борд»</h4>

    <p>Конструкция скроллера формата 3,7 × 2,7 м выполнена из алюминиевого профиля высокого качества (алюминиевый
      сплав АД31 ГОСТ 4784-97), закрепленного на усиленный стальной каркас прочности, который обеспечивает коробу
      ситиборда высокую жесткость, что очень важно для точного положения валов.</p>
    <br>
    <%= image_tag image_path('production/advertisment/con-4x2-2.jpg'), alt: '', style: 'margin-top:10px' %>
    <br><br>
    <h4>Система подстветки роллерного дисплея</h4>

    <p style="padding-bottom: 10px;">Модулем подсветки роллерного дисплея служат 20 люминесцентных ламп имеющих
      безстартерную систему пуска с
      помощью ЭПРА (устройство для запуска ламп) итальянского производства. Электрическая схема подключения модуля
      подсветки включает отдельное Устройство Защитного Отключения (УЗО) и подключается к сети питания 220 V.</p>

    <h4>Ситиборд 2,7 х 3,7 м оснащен системой DSS-80 Dim</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '' %></a>

    <p>Встроенный в конструкцию скроллерный механизм позволяет демонстрировать до 6-ти рекламных постеров в течение
      заданного интервала времени.<br>
      <br>
      Также возможна установка более мощной системы способной демонстрировать до 8-ми рекламных постеров.<br>
      <br>
      Ситиборд может быть оснащен вторым скроллерным механизмом, без изменения толщины дисплея, что позволит
      демонстрировать одновременно до 6-ти изображений с каждой стороны. Конструкция поставляется в собранном виде, за
      исключением монтажа на опору.</p>
    <br>
    <%= image_tag image_path('production/advertisment/con-3x2-6.jpg'), alt: '' %>
    <br><br>
    <h4>Возможна система «Сделай сам»</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br>
    <%= image_tag image_path('production/advertisment/con-3x2-3.jpg'), alt: '' %>
    <br><br><br>
    <%= image_tag image_path('production/advertisment/con-3x2-4.jpg'), alt: '', style: 'margin-top:10px' %></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="pult">
          <strong>Пульт управления</strong>

          <p>Пульт управления с жидко-<br>кристаллическим дисплеем и USB<br>портом для подключения.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="timer">
          <strong>Наличие таймеров</strong>

          <p>Наличие двух встроенных таймеров:<br>один для управления освещением,<br>второй для управления питанием.
          </p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="refr">
          <strong>Открытие или закрытие створок</strong>

          <p>Открытие или закрытие створок <br>осуществляется с помощью <br>газовых лифтов.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="print">
          <strong>На плакатах отсутствуют</strong>

          <p>Отсутствие каких-либо датчиков и фольгированных меток на плакатах.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="acces">
          <strong>Дополнительное оборудование</strong>

          <p>Предусмотрена установка<br>дополнительного оборудования.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="weather">
          <strong>Погодные условия</strong>

          <p>Высокая надежность системы DSS<br>DSS-80 Dim проверена различными погодными условиями эксплуатации при
            температуре до -45. (имеются рецензии) </p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>