<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие рекламной конструкции хорека</h4>

    <p>Хорека (HoReCa — Hotels, Restaurants and Cafes) — это отдельностоящие рекламные конструкции, представляющие
      собой световой короб с внутренней подсветкой, монтированный к опоре из стальной трубы. Рекламе гарантирована
      идеальная видимость, так как световой короб расположен на высоте 2,5 м, а оригинальный вид конструкций привлечет
      дополнительное внимание к рекламному изображению.<br><br></p>
    <br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Световые рекламоносители хорека выполнены из алюминиевого профиля высокого качества (алюминиевый сплав
          АД31 ГОСТ 4784-97).
        </li>
        <li>Два варианта исполнения: съёмная боковая панель (профиль «Базис») и со створками (профиль «Хайтек» или
          «Бизнес»).
        </li>
      </ul>
      <ul>
        <li>Простота замены рекламных постеров.</li>
        <li>Возможность установки цифровой роллерной системы SPDE-51A в хореку со створками.</li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.</li>
      </ul>
    </div>
    <h4>Материалы рекламной конструкции</h4>

    <p>В створках может быть установлено каленое стекло, монолитный поликарбонат, либо оргстекло. В качестве
      рекламного носителя используется транслюцентный баннер или бумага. Модулем подсветки рекламного короба служат
      четыре люминесцентные лампы.<br>В верхней части опорной трубы устанавливается шар-светильник. Световые короба на
      опорной трубе могут быть следующих размеров: сити-формат 1,2 × 1,8 м; формат А1 0,8 × 1,2 м.</p>
    <br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.<br><br></p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-horeka-1.jpg'), alt: '', style: '' %></div>
  <div class="tc-right">
    <h4>Преимущества рекламной конструкции хорека</h4>

    <p>— Универсальность применения<br>
      — Наличие яркой световой подсветки изображений<br>
      — Разнообразие размеров и форм<br>
      — Прочность и легкость конструкций<br>
      — Долговечность и безопасность в эксплуатации<br>
      — Относительно невысокая стоимость световых рекламоносителей<br>
      Все это делает их очень популярным и в то же время обоснованным решением в рекламной политике.</p>
    <br><br>

    <div style="height:218px;"></div>
    <h4>Возможна система «Сделай сам»</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br>
    <h4 style="margin-top:5px;">Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>В хореку возможна установка цифрового роллерного механизма DSS.</p>
    <br><br><br>
    <%= image_tag image_path('production/advertisment/con-horeka-2.jpg'), alt: '', style: '' %></div>
</div>

<p></p>