<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие рекламной конструкции световой короб</h4>

    <p style="margin-right:-440px; zoom:1;">Световые короба (лайтбокс) — это очень распространённый формат наружной и
      интерьерной рекламы, специально предназначенный для пешеходных зон, центральных и исторических частей города.
      Световые короба имеют внутренний подсвет и бывают, в зависимости от типоразмера, как отдельностоящие, так и
      расположенные на фасадах зданий, встроенные в остановочные павильоны, либо размещенные в интерьерах торговых
      центров, вокзалов, спортивных клубов и т. д.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-lighbox-2.jpg'), alt: '', style: 'margin-top:-10px' %>
    <br><br>
    <h4>Описание рекламной конструкции</h4>

    <p>Мы изготавливаем стандартные световые короба прямоугольной геометрической формы, в основе который лежит
      металлический каркас, который обрамляется специальным алюминиевым профилем.<br>
      Лайтбоксы устойчивы к воздействиям окружающей среды и обладают хорошей вандалоустойчивостью. Они могут быть
      односторонние, с задней глухой стенкой или двухсторонние. В качестве лицевых панелей может быть установлено
      ударопрочное стекло, сотовый поликарбонат, либо баннерная ткань.</p>

    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика<br>в широких пределах по палитре RAL.</p>

    <h4>Крепление рекламного изображения</h4>

    <p>Рекламное изображение в лайтбоксе может находиться под защитным противоударным стеклом, либо снаружи, при этом
      оно наклеивается на светорассеивающую подложку из сотового поликарбоната в качестве аппликаций из самоклеющейся
      разноцветной пленки или транслюцентного баннера. Также предусмотрена модификация, когда передней панелью служит
      сам баннер с рекламным изображением равномерно растянутый по периметру лицевой панели короба, в таком исполнении
      модель лайтбокса называется флекс-кейс.</p>
    <br>
    <%= image_tag image_path('production/advertisment/con-lighbox-1.jpg'), alt: '', style: '' %></div>
  <div class="tc-right">
    <%= image_tag image_path('production/advertisment/con-lighbox-3.jpg'), alt: '', style: 'margin-top:155px;' %>
    <br><br>
    <h4>Возможна система «Сделай сам»</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br>
    <h4 style="margin-top:15px;">Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p style="padding-bottom: 15px">В световой короб возможна установка цифрового роллерного механизма DSS.</p>

    <h4>Система подсветки</h4>

    <p>Световые короба оснащаются внутренней подсветкой, что привлекает к ним дополнительное внимание в темное время
      суток и придает запоминающийся образ товару и услуге. Система подсветки состоит из люминесцентных ламп,
      подключенных через электронные ПРА (устройства для запуска ламп). Устройство защитного отключения (УЗО)
      подключается к сети питания 220 В. Потребляемая мощность светового короба зависит от типового размера.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-lighbox-4.jpg'), alt: '', style: '' %></div>
</div>

<p></p>