<div class="two-cols">
  <div class="tc-left">
    <h4>Устанавливают в центральной части города</h4>
    <%= image_tag image_path('production/advertisment/img-6.jpg'), alt: '', style: '' %>
    <br>
    <br>

    <p>Пиллар (pillar)— это трехгранная рекламная тумба с внутренней подсветкой, имеющая три рекламных поверхности
      размером 1,4 x 2,8 м.<br>
      <br>
      Пиллары хорошо сочетаются с архитектурным обликом города, выполнены на высоком технологичном уровне и поэтому
      активно устанавливаются в центральных и исторических частях городов.</p>
    <br><br><br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Конструкция пилларса выполнена из алюминиевого профиля <br>высокого качества (алюминиевый сплав АД31 ГОСТ
          4784-97).
        </li>
        <li>Применение технологии светодиодного освещения с целью <br>уменьшения потребляемой мощности.</li>
      </ul>
      <ul>
        <li>Роллерный механизм — цифровая роллерная система SPDE-76 AE<br>(Система модульная).</li>
        <li>Предусмотрена установка дополнительного оборудования.</li>
      </ul>
    </div>
    <h4 style="margin-top:-5px;">Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.</p><br>
    <br>
    <h4>Крепление плакатов и подсветка</h4>

    <p>Рекламные плакаты надежно крепятся на специальные зажимы, а стекло, проклеенное в створке уплотнительной
      резинкой, что исключает попадание атмосферных осадков и пыли.<br>
      <br>
      Внутренняя подсветка осуществляется люминесцентными лампами, которые запускаются с помощью электронных ПРА
      (устройство пуска ламп), что увеличивает их ресурс и снижает энергопотребление.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-pill-1.jpg'), alt: '', style: 'margin-top:-5px;' %></div>
  <div class="tc-right">
    <h4>Описание рекламной конструкции</h4>

    <p>Корпус выполнен из специального алюминиевого профиля, покрытого порошковым полимерным покрытием, что позволит
      сохранить приятный внешний вид конструкции в течение многих лет. Пилларсы имеют три рекламных поверхности. Так
      как основным местом размещения пилларов является центральная часть города, логика технологической эволюции
      привела к тому, что этот формат из статического превратился в динамический.<br>
      <br>
      Нашим предприятием, впервые в России, разработан и запущен в серию пиллар нового поколения, оснащенный роллерным
      механизмом, в котором на каждой рекламной поверхности могут демонстрироваться до 8 рекламных изображений, таким
      образом на такой конструкции могут размещаться до 24-х рекламных постеров. За счет периодической смены
      изображения динамический пиллар привлекает к себе гораздо больше внимания. В случае установки цифровой роллерной
      системы рекламная поверхность с динамической стороны будет иметь плоскую форму. Предусмотрена возможность
      крепления рекламной тумбы к месту установки.</p><br>
    <br>

    <div style="height:200px;margin-top: 20px"></div>
    <h4>Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>В пиллар возможна установка цифрового роллерного механизма DSS.</p><br><br>
    <h4>Возможна система «Сделай сам»</h4>
    <a href="/catalogue/diy/diy_pillars/32/"><%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %></a>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br>
    <%= image_tag image_path('production/advertisment/con-pill-2.jpg'), alt: '', style: '' %></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="pyramid">
          <strong>Три динамические стороны</strong>

          <p>Допускается установка роллерной <br>системы с каждой из трех динамических <br>сторон.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="weather">
          <strong>Погодные условия</strong>

          <p>Высокая надежность системы DSS<br>SPDE-76 AE проверена различными погодными условиями эксплуатации при
            температуре до -45. (имеются рецензии) </p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>