<div class="two-cols">
  <div class="tc-left">
    <p style="margin-right:-470px; zoom:1;">Скроллеры 2 х 3 м также вписываются в разряд конструкций с площадью
      изображения до 10 кв.м согласно новым принятым концепциям развития наружной рекламы в городах России. Большое
      количество статических конструкций формата более 10 кв.м подлежат демонтажу, так как многие из них эстетически
      устарели и не вписываются в моральный облик города.<br>
      <br>
      В частности, это относится к рекламным щитам размером 3 × 6 м, перед владельцами таких конструкций стоит вопрос
      по замене статических конструкций крупного формата на конструкции формата до 10 кв.м. Поэтому сегодня
      стремительно растет популярность роллерных дисплеев, площадь изображения которых соответствует заявленным
      требованиям.
    </p>
    <br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Площадь изображения менее 10 кв.м</li>
        <li>Роллерный механизм — цифровая роллерная система DSS-76 Dim (Система модульная).</li>
        <li>Наличие двух встроенных таймеров: для управления освещением и для управления питанием.</li>
        <li>Предусмотрено программирование: скорости вращения, скорости и пути торможения, время задержки каждого
          кадра отдельно.
        </li>
      </ul>
      <ul>
        <li>Наличие встроенной системы «Антистатика».</li>
        <li>Конструкция cкроллера 2 × 3 м выполнена из алюминиевого профиля высокого качества (алюминиевый сплав АД31
          ГОСТ 4784-97).
        </li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.</li>
      </ul>
    </div>
    <h4>Понятие рекламной конструкции «Скроллер 2 х 3 м»</h4>

    <p>Скроллер 2 х 3 метра — это новая высокотехнологичная рекламная конструкция с видимой частью изображения 2 × 3
      м. Данный роллерный дисплей представляет собой рекламный короб с габаритным размером 2,3 × 3,3 м и мощной
      внутренней подсветкой. Скроллер 2 х 3 м укомплектован цифровой роллерной системой (см. спецификацию), оснащённой
      двумя валами с электроприводом (тип передачи — мотор / вал) и блоком управления.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-2x3-1.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Створная рама и ветровое стекло «Скроллера 2 х 3 м»</h4>

    <p>В качестве ветрового стекла в створки скроллера 2 х 3 метра устанавливается каленое стекло толщиной 8 мм.
      Створная рама скроллера легко открывается и закрывается с помощью установленных газовых лифтов.</p>
    <br><br><br><br><br><br>
    <h4>Роллерный механизм DSS</h4>

    <p>При производстве скроллеров 2 х 3 мы используем современную и надежную цифровую роллерную систему DSS с
      моторами повышенной мощности. Позиционирование кадров в системе не предусматривает применения датчиков, так как
      в основе лежит цифровой принцип позиционирования, на основе алгоритма подсчёта количества оборотов совершаемых
      двигателем вокруг своей оси. Программа работы скроллера задается с помощью выносного пульта подключаемого к
      плате управления через usb-порт.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-3x2-2.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Вы можете заказать любой цвет рекламной конструкции в пределах палитры RAL.</p>
    <br><br>
    <h4 style="margin-right:-50px;">Технические характеристики роллерного дисплея 2 × 3 м</h4>
    <table cellpadding="0" cellspacing="0" class="specifications">
      <tbody>
      <tr class="thead">
        <td width="210">
          <div style="height:22px;">Наименование</div>
        </td>
        <td>
          <div style="height:22px;">Значение</div>
        </td>
      </tr>
      <tr>
        <td>Высота рекламного короба</td>
        <td>2 300 мм</td>
      </tr>
      <tr>
        <td>Ширина рекламного короба</td>
        <td>3 300 мм</td>
      </tr>
      <tr>
        <td>Глубина рекламного короба</td>
        <td>540 мм</td>
      </tr>
      <tr>
        <td>Масса рекламного короба</td>
        <td>520 кг</td>
      </tr>
      <tr>
        <td>Размеры видимого изображения</td>
        <td>2 000 × 3 000 мм</td>
      </tr>
      <tr>
        <td>Люминесцентные лампы</td>
        <td>16 шт</td>
      </tr>
      <tr>
        <td>Стекло каленое (толщина)</td>
        <td>8 мм</td>
      </tr>
      <tr>
        <td>Макс. потребляемая мощность</td>
        <td>200 Вт (при использовании светодиодного освещения)</td>
      </tr>
      <tr>
        <td>Макс. потребляемая мощность</td>
        <td>930 Вт</td>
      </tr>
      <tr>
        <td>Высота опоры</td>
        <td>2 500 — 3 000 мм<br>(на усмотрение заказчика)</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="tc-right">
    <h4 style="margin-top:483px;">Описание рекламной конструкции «Скроллер 2 х 3 м»</h4>

    <p>Рекламная конструкция скроллера формата 2 × 3 метра выполнена из алюминиевого профиля высокого качества
      (алюминиевый сплав АД31 ГОСТ 4784-97), закрепленного на усиленный стальной каркас прочности, который
      обеспечивает коробу высокую жесткость, что в свою очередь очень важно и для геометрически правильного,
      параллельного и строго горизонтального положения валов)</p>
    <br><br><br>
    <%= image_tag image_path('production/advertisment/con-2x3-2.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Система подстветки роллерного дисплея</h4>

    <p>Подсветку роллерного дисплея осуществляют 16 люминесцентных ламп имеющих безстартерную систему пуска с помощью
      ЭПРА (устройство для запуска ламп). Электрическая схема подключения модуля подсветки включает отдельное
      устройство защитного отключения (УЗО) и подключается к сети питания 220 В. В качестве альтернативы
      люминесцентным лампам для уменьшения потребляемой мощности, скроллеры 2 х 3 могут комплектоваться системой
      светодиодного освещения.</p>
    <br>
    <h4>Установлена система DSS-76 Dim </h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>Встроенный в конструкцию скроллерный механизм позволяет
      демонстрировать до 8-ми рекламных постеров в течение заданного
      интервала времени.<br>
      <br>
      Скроллер 2 х 3 может быть оснащен вторым роллерным механизмом,
      без изменения толщины дисплея, что позволит демонстрировать
      одновременно до 8 -ми изображений с каждой стороны. Конструкция
      поставляется в собранном виде, за исключением монтажа на опору.<br>
      <br>
      Высокая надежность системы DSS проверена различными
      погодными условиями эксплуатации при температуре до -45. </p>
    <br><br><br><br>
    <h4>Возможна поставка в виде системы-конструктора</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-2x3-3.jpg'), alt: '', style: '' %></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="pult">
          <strong>Пульт управления</strong>

          <p>Пульт управления с жидко-<br>кристаллическим дисплеем и USB<br>портом для подключения.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="weather">
          <strong>Погодные условия</strong>

          <p>Высокая надежность системы DSS<br> проверена различными погодными<br>условиями эксплуатации при
            температуре<br>до -45. (имеются рецензии) </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="print">
          <strong>На плакатах отсутствуют</strong>

          <p>Отсутствие каких-либо датчиков и фольгированных меток на плакатах.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="acces">
          <strong>Дополнительное оборудование</strong>

          <p>Предусмотрена установка<br>дополнительного оборудования.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>