<div class="two-cols">
  <div class="tc-left">
    <h4>Виды сити-формата</h4>

    <div class="violet" style="background:#474B6B;">
      <%= image_tag image_path('production/advertisment/con-sityformat-1.jpg'), alt: '', style: '' %>

      <p><strong>Сити-формат «Бизнес»</strong></p>
    </div>
    <h4>Эскизы профиля сити-формата «Бизнес»</h4>
    <%= image_tag image_path('production/advertisment/con-sityformat-10.jpg'), alt: '', style: '' %>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-sityformat-11.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Понятие роллерного дисплея сити-формата</h4>

    <p>Наиболее распространенным и востребованным роллерным дисплеем (скроллером) является конструкция сити-формата, с
      видимой частью изображения 1,8 × 1,2 м. Габаритные размеры роллерного дисплея сити-формата 2,0 × 1,4 × 0,2
      м.<br>
      <br>
      Оригинальность такого рекламоносителя в том, что он отлично вписывается в любую пешеходную зону, придавая городу
      более эстетичный и современный облик. Скроллеры сити-формата предназначены для установки не только на улицах, но
      и в интерьерах.<br>
      <br>
      Среди роллерных дисплеев сити-формата более предпочтительной является модель «динамика / статика» исполненная в
      варианте «8+1», то есть с одной стороны меняются до 8-ми рекламных изображений, с другой устанавливается
      статичное рекламное изображение.</p><br><br>
    <h4>Внутреннее устройство сити-формата «Бизнес»</h4>
    <%= image_tag image_path('production/advertisment/con-sityformat-12.jpg'), alt: '', style: '' %>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-sityformat-14.jpg'), alt: '', style: '' %>
    <br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Роллерный механизм — цифровая роллерная система SPDE-51A (Система модульная).</li>
        <li>Предусмотрено программирование: скорости вращения, скорости и пути торможения, время задержки каждого
          кадра отдельно.
        </li>
        <li>Наличие встроенной системы «Антистатика».</li>
        <li>Предусмотрена установка дополнительного оборудования (см. Аксессуары).</li>
      </ul>
      <ul>
        <li>Конструкция скроллера сити-формат выполнена из алюминиевого профиля высокого качества (алюминиевый сплав
          АД31 ГОСТ 4784-97).
        </li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.</li>
        <li>Вы можете выбрать тип исполнения — «Хайтек», «Бизнес», «Базис», «I'phones Дизайн».</li>
        <li>Шелкография по периметру стекла.</li>
      </ul>
    </div>
    <h4>В створках рамы может быть установлено:</h4>
    <ul>
      <li>4-6 мм каленое ударопрочное стекло — очень прочное стекло, в случае повреждения рассыпается на мелкие
        нетравмоопасные осколки.
      </li>
      <li>4-5 мм оргстекло — разбить сложно, но поверхность можно поцарапать.</li>
      <li>4-5 мм монолитный поликарбонат — более дорогое решение, но такое стекло невозможно разбить даже при сильных
        морозах.
      </li>
    </ul>
    <br><br><br>
    <h4 style="margin-top:-5px;">Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.<br>
      <br>
      <br>
      Скроллеры могут изготавливаться в различных вариантах. Самый распространенный вариант установки скроллера это на
      п-образную опору. Подавляющее большинство конструкций сити-формата устанавливают именно на такую опору.
      Изготавливается из металлических прямоугольных труб, после чего «обшивается» декоративным алюминиевым профилем
      со вставками из чёрного акрила, повторяющими эффект «зеркала».</p>
    <br>
    <%= image_tag image_path('production/advertisment/con-sityformat-7.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Технические характеристики роллерного дисплея</h4>
    <table cellpadding="0" cellspacing="0" class="specifications">
      <tbody>
      <tr class="thead">
        <td width="240">
          <div style="height:22px;">Наименование</div>
        </td>
        <td>
          <div style="height:22px;">Значение</div>
        </td>
      </tr>
      <tr>
        <td>Высота рекламного короба</td>
        <td>2 000 мм</td>
      </tr>
      <tr>
        <td>Ширина рекламного короба</td>
        <td>1 400 мм</td>
      </tr>
      <tr>
        <td>Масса рекламного короба</td>
        <td>90 кг</td>
      </tr>
      <tr>
        <td>Размеры видимого изображения</td>
        <td>1 200 × 1 800 мм</td>
      </tr>
      <tr>
        <td>Макс. потребляемая мощность</td>
        <td>350 Вт</td>
      </tr>
      <tr>
        <td>Высота стандартной опоры</td>
        <td>600 мм</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="tc-right">
    <h4>&nbsp;</h4>

    <div class="violet" style="background:#32302D;">
      <%= image_tag image_path('production/advertisment/con-sityformat-2.jpg'), alt: '', style: '' %>

      <p><strong>Сити-формат «Хайтек»</strong><br><br>
        Оригинальность такого рекламоносителя в том,<br> что он отлично вписывается<br> в любую пешеходную зону,
        придавая городу более эстетичный и современный облик. Предназначен для установки не только на<br>улицах, но и
        в интерьерах.</p>
    </div>
    <h4>Эскизы профиля сити-формата «Хайтек»</h4>
    <%= image_tag image_path('production/advertisment/con-sityformat-3.jpg'), alt: '', style: '' %>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-sityformat-4.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Описание роллерного дисплея сити-формата</h4>

    <p style="padding-bottom: 12px">Конструкцию скроллера сити-формата отличает современный корпус, выполненый из
      алюминиевого профиля высокого
      качества (алюминиевый сплав АД31 ГОСТ 4784-97), закрепленного на усиленный стальной каркас прочности, который
      обеспечивает коробу высокую жесткость, что очень важно для точного положения валов.<br>
      <br>
      Скроллер уличного исполнения защищен от попадания влаги внутрь короба, а также увеличено количество
      люминесцентных ламп. Створки рекламного щита с установленными стеклами легко открываются для обслуживания
      благодаря двум газовым лифтам.<br>
      <br>
      Конструкция спроектирована таким образом, что при непредвиденной порче стекла, установка нового производится в
      течение 15 минут (при условии заранее подготовленного размера). Толщина и вид стекла согласовывается с
      заказчиком и учитывается в техническом задании.</p>
    <h4>Внутреннее устройство сити-формата «Хайтек»</h4>
    <%= image_tag image_path('production/advertisment/con-sityformat-13.jpg'), alt: '', style: '' %>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-sityformat-15.jpg'), alt: '', style: '' %>
    <br><br>

    <div style="height:260px;"></div>
    <br><h4>Возможна система «Сделай сам»</h4>
    <a href="/catalogue/diy/diy_cityformat/34/"><%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %></a>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br>
    <h4>Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>В рекламную конструкцию сити-формата возможна установка цифрового роллерного механизма DSS.<br>
      <br>
      В производстве мы используем новую цифровую систему позиционирования кадров DSS (digital scrolling system),
      которая доказала свою высокую надежность в суровых сибирских условиях.</p>
    <br><br><br><br><br><br>
    <%= image_tag image_path('production/advertisment/con-sityformat-8.jpg'), alt: '', style: 'margin-top:-5px' %>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-sityformat-9.jpg'), alt: '', style: 'margin-top:10px' %>
  </div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="pult">
          <strong>Пульт управления</strong>

          <p>Пульт управления с жидко-<br>кристаллическим дисплеем и USB<br>портом для подключения.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="timer">
          <strong>Наличие таймеров</strong>

          <p>Наличие двух встроенных таймеров:<br>один для управления освещением,<br>второй для управления питанием.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="print">
          <strong>На плакатах отсутствуют</strong>

          <p>Отсутствие каких-либо датчиков и фольгированных меток на плакатах.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="weather">
          <strong>Погодные условия</strong>

          <p>Высокая надежность системы DSS<br>SPDE-51A проверена различными погодными условиями эксплуатации при
            температуре до -45. (имеются рецензии) </p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>