<div class="two-cols">
  <div class="tc-left">
    <h4>Описание рекламной конструкции</h4>

    <p>Модификация скроллера с видимой частью изображения 2,0 × 4,0 м. <br>
      Конструкция скроллера изготовлена из алюминиевого профиля высокого качества, закрепленного на усиленный стальной
      каркас прочности, который обеспечивает коробу высокую жесткость, что очень важно для точного положения
      валов.<br>
      <br>
      Размеры роллерных дисплеев формата 4,3 х 2,3 м позволяют перевозить их обычным грузовым автотранспортом, т. к.
      данный размер не относится к негабаритным грузам.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-4x2-1.jpg'), alt: '', style: '' %>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-4x2-3.jpg'), alt: '', style: 'margin-right:-440px;' %>
    <br><br><br>

    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Площадь изображения менее 10 кв.м</li>
        <li>Роллерный механизм — цифровая роллерная система DSS-80 Dim (Система модульная).</li>
        <li>Наличие двух встроенных таймеров: для управления освещением и для управления питанием.</li>
        <li>Наличие встроенной системы «Антистатика».</li>
        <li>Предусмотрено программирование: скорости вращения, скорости и пути торможения, время задержки каждого
          кадра отдельно.
        </li>
      </ul>
      <ul>
        <li>Предусмотрена установка дополнительного оборудования (см. Аксессуары).</li>
        <li>Конструкция скроллера 2,3 × 4,3 м выполнена из алюминиевого профиля высокого качества (алюминиевый сплав
          АД31 ГОСТ 4784-97).
        </li>
        <li>Применение технологии светодиодного освещения с целью уменьшения потребляемой мощности.<br>Отсутствие
          плёнки Оракал (Oracal) по периметру стекла.
        </li>
      </ul>
    </div>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.</p><br>
    <br><br>
    <h4>Стекло роллерного дисплея</h4>

    <p>В качестве ветровой защиты в створную раму скроллера устанавливается каленое стекло толщиной 8 мм. Такое стекло
      обладает хорошей прочностью и его довольно сложно разбить. Створки рекламного щита со стеклом легко открываются
      и закрываются с помощью установленных газовых лифтов.</p>
    <br><br>
    <h4 style="margin-right:-20px;">Технические характеристики роллерного дисплея 4,3 × 2,3 м</h4>
    <table cellpadding="0" cellspacing="0" class="specifications">
      <tbody>
      <tr class="thead">
        <td width="240">
          <div style="height:22px;">Наименование</div>
        </td>
        <td>
          <div style="height:22px;">Значение</div>
        </td>
      </tr>
      <tr>
        <td>Высота рекламного короба</td>
        <td>2 300 мм</td>
      </tr>
      <tr>
        <td>Ширина рекламного короба</td>
        <td>4 300 мм</td>
      </tr>
      <tr>
        <td>Глубина рекламного короба</td>
        <td>540 мм</td>
      </tr>
      <tr>
        <td>Масса рекламного короба</td>
        <td>720 кг</td>
      </tr>
      <tr>
        <td>Размеры видимого изображения</td>
        <td>2 000 × 4 000 мм</td>
      </tr>
      <tr>
        <td>Люминесцентные лампы</td>
        <td>18 шт</td>
      </tr>
      <tr>
        <td>Стекло каленое (толщина)</td>
        <td>8 мм</td>
      </tr>
      <tr>
        <td>Макс. потребляемая мощность</td>
        <td>1050 Вт</td>
      </tr>
      <tr>
        <td>Высота опоры</td>
        <td>3 000 мм</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="tc-right">
    <h4>Возможна система «Сделай сам»</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br><br>
    <%= image_tag image_path('production/advertisment/con-4x2-2.jpg'), alt: '', style: 'margin-top:5px;' %>
    <br><br>
    <h4 style="margin-top:785px;">Возможна установка DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>В рекламную конструкцию скроллера возможна установка цифрового роллерного механизма DSS.</p>
    <br>

    <p>Роллерный дисплей оснащен новейшим механизмом перемотки и позиционирования кадров с цифровой системой
      управления.<br>
      Позиционирование кадров происходит без помощи датчиков, что существенно облегчает обслуживание роллерного
      дисплея и исключает возможность сбоев, возможных в случае применения системы с датчиками. Программирование
      системы выполняется с помощью выносного пульта подключаемого к плате управления через usb-порт. Механизм
      позволяет демонстрировать до 6-ти рекламных постеров в течение заданного интервала времени.</p>
    <br><br><br><br>
    <%= image_tag image_path('production/advertisment/con-4x2-4.jpg'), alt: '', style: '' %></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="pult">
          <strong>Пульт управления</strong>

          <p>Пульт управления с жидко-<br>кристаллическим дисплеем и USB<br>портом для подключения.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="weather">
          <strong>Погодные условия</strong>

          <p>Высокая надежность системы DSS<br>DSS-80 Dim проверена различными погодными условиями эксплуатации при
            температуре до -45 (имеются рецензии)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="print">
          <strong>На плакатах отсутствуют</strong>

          <p>Отсутствие каких-либо датчиков и фольгированных меток на плакатах.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="refr">
          <strong>Открытие или закрытие створок</strong>

          <p>Открытие или закрытие створок<br>осуществляется с помощью <br>газовых лифтов.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>