<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие роллерного дисплея</h4>

    <p>Роллерный дисплей (скроллер, динамический дисплей, scrolling motion poster display) — это
      рекламно-информационная система, представляющая собой световой короб с мощной внутренней подсветкой, в котором
      рекламные изображения перематываются с одного вала на другой. Автоматическая смена изображения происходит
      благодаря двум электромоторам, которые приводят валы в движение. Каждое изображение демонстрируется
      определенное, заданное настройками время.<br>
      <br>
      На улицах городов России роллерные дисплеи (скроллеры) стали появляться сравнительно недавно, но уже доказали
      свою эффективность и востребованность. Маркетинговые исследования показывают, что реклама, размещаемая на
      роллерном дисплее, по уровню восприятия и запоминаемости в 1,5—2,5 раза эффективнее статичной рекламы.<br>
      <br>
      МИК «ДиМедиа» производит полностью готовые к установке и эксплуатации рекламные конструкции. Мы проводим
      консультации по обслуживанию наших рекламных установок и осуществляем гарантийную и послегарантийную техническую
      поддержку.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-scrollers-1.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.<br><br></p>
    <br><br>
    <h4>Особенности роллерного механизма DSS</h4>

    <p>В производстве роллерных дисплеев мы используем абсолютно новые роллерные системы последнего поколения DSS
      (digital scrolling system) на бесщеточных моторах с цифровой системой управления. Эти роллерные системы
      отличаются высокой надежностью и простотой в эксплуатации. Программирование и перемотка рекламных изображений
      (баннеров) с одного вала на другой происходит без каких-либо датчиков и меток. Это в значительной мере улучшает
      качество работы роллерного дисплея и облегчает его обслуживание. Надежность системы проверена жесткими
      сибирскими условиями эксплуатации.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-scrollers-3.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Модуль подсветки</h4>

    <p>Скроллеры оснащены интенсивной внутренней подсветкой. Модуль подсветки представляет собой набор люминесцентных
      ламп, подключенных через электронные ПРА (устройства для запуска ламп) итальянского производства. Электрическая
      схема подключения модуля подсветки включает отдельное Устройство Защитного Отключения (УЗО) и подключается к
      сети питания 220 V.</p>


  </div>
  <div class="tc-right">
    <h4>Особенности конструкции</h4>

    <p>Корпус роллерных дисплеев выполнен из алюминиевого профиля высокого качества (алюминиевый сплав АД31 ГОСТ
      4784-97), закрепленного на усиленный стальной каркас прочности, который обеспечивает коробу высокую жесткость,
      что очень важно для точного положения валов. Петли створок роллерного дисплея скрыты в полостях профиля и не
      видны снаружи, что придает конструкции более эстетичный и симметричный вид.<br>
      <br>
      <br>
      Роллерный дисплей уличного исполнения полностью подготовлен<br>для эксплуатации в окружающей среде. Рама короба
      и стекла<br>в раме проклеены уплотнительной резинкой для предотвращения попадания воды внутрь короба. В раму
      устанавливается ударопрочное стекло. Створка скроллера уличного исполнения закрывается на ключ.<br>
      <br>
      В сборе скроллеры «ДиМедиа» оличаются не только своей надежностью, но и современным, элегантным
      дизайном.<br><br><br></p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-scrollers-2.jpg'), alt: '', style: '' %>
    <br><br>
    <h4>Возможна система «Сделай сам»</h4>
    <a href="/catalogue/diy/diy_dss/36/"><%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %></a>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br>
    <h4>Роллерный механизм DSS</h4>
    <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

    <p>Новые роллерные системы последнего поколения DSS (digital scrolling system) на бесщеточных моторах с цифровой
      системой управления.<br><br><br></p>
    <br>
    <%= image_tag image_path('production/advertisment/con-scrollers-4.jpg'), alt: '', style: 'margin-top:10px;' %>
    <br><br>
    <h4>Потребляемая мощность скроллера</h4>

    <p>Потребляемая мощность скроллера в зависимости от типового размера:</p>
    <ul>
      <li>без ламп посветки от 50 до 100 Вт</li>
      <li>с люминесцентными лампами от 180 до 1 200 Вт.</li>
    </ul>

  </div>
</div>
<h4 style="margin-bottom: -25px;">Рекламные конструкции, в которые возможна установка цифровой роллерной системы
  DSS:</h4>

<div id="item-showcase" style="margin:0 -55px;">
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td>
        <p style="padding: 0;">
          <a href="/catalogue/advertisment/pillars/17/">Пиллары</a>
        </p>
						<span>

															<a href="/catalogue/advertisment/pillars/17/">
                                                              <%= image_tag image_path('production/advertisment/761b797bdee7b87330e5dc6ecb2d1f9c.png'), alt: '', style: '' %>
                                                            </a>
													</span>
        <em>рекламные изображения<br>1,4 × 2,8 м</em>
      </td>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/light_fencing/20/">Световые рекламные ограждения</a>
        </p>
						<span>

															<a href="/catalogue/advertisment/light_fencing/20/">
                                                              <%= image_tag image_path('production/advertisment/3a1bae6719c97c1cde9774ba26651de6.png'), alt: '', style: '' %>
                                                            </a>
													</span>
        <em>рекламное изображение<br>0,75 × 1,6 м</em>
      </td>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/city-format/22/">Сити-форматы</a></p>
						<span>

															<a href="/catalogue/advertisment/city-format/22/"><%= image_tag image_path('production/advertisment/6d6d0b1fefdeecf1820f25eb652d4717.png'), alt: '', style: '' %></a>
													</span>
        <em>рекламное изображение<br>1,2 × 1,8 м</em>
      </td>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/2x3/26/">Скроллеры 2 × 3 м</a></p>
						<span>

															<a href="/catalogue/advertisment/2x3/26/">
                                                              <%= image_tag image_path('production/advertisment/564e1b89656464cb55ede3f4dc8dd088.jpg'), alt: '', style: '' %>
                                                            </a>
													</span>
        <em>рекламное изображение<br>2 × 3 м</em>
      </td>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/cityboard/25/">Ситиборды 2,7 × 3,7м</a></p>
						<span>

															<a href="/catalogue/advertisment/cityboard/25/">
                                                              <%= image_tag image_path('production/advertisment/6672e95c3d9836f86b4f5b886acbb449.png'), alt: '', style: '' %>
                                                            </a>
													</span>
        <em>рекламное изображение<br>2,7 × 3,7 м</em>
      </td>
    </tr>
    <tr>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/scroller-arena/42/">Скроллеры «Арена»</a></p>
						<span>

															<a href="/catalogue/advertisment/scroller-arena/42/">
                                                              <%= image_tag image_path('production/advertisment/bfd9f6311988801ae1a154c67066c482.png'), alt: '', style: '' %>
                                                            </a>
													</span>
        <em>рекламное изображение<br>0,8 × 2,0 м</em>
      </td>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/citybox/19/">Сити-боксы</a></p>
						<span>

															<a href="/catalogue/advertisment/citybox/19/">
                                                              <%= image_tag image_path('production/advertisment/e7436d473a741b74e5fc4cd3408c3ec6.png'), alt: '', style: '' %>
                                                            </a>
													</span>
        <em>рекламное изображение<br>1,2 × 1,8 м</em>
      </td>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/horeca/18/">ХоРеКа, панель-кронштейн</a></p>
						<span>

															<a href="/catalogue/advertisment/horeca/18/">
                                                              <%= image_tag image_path('production/advertisment/6403272d47ce48dbdeea03fc18d3e204.png'), alt: '', style: '' %>
                                                            </a>
													</span>
        <em>рекламное изображение<br>1,2 × 1,8 м</em>
      </td>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/phone_booth/12/">Многофункциональная кабина</a></p>
						<span>

															<a href="/catalogue/advertisment/phone_booth/12/"><%= image_tag image_path('production/advertisment/d59045ba11923e19b48eae1e6254478a.png'), alt: '', style: '' %></a>
													</span>
        <em>рекламное изображение<br>1,2 × 1,8 м</em>
      </td>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/bike_parking/14/">Велопарковка с лайтбоксом</a></p>
						<span>

															<a href="/catalogue/advertisment/bike_parking/14/"><%= image_tag image_path('production/advertisment/0559b4266a9190018ba0760da4fd11a5.png'), alt: '', style: '' %></a>
													</span>
        <em>рекламные изображения<br>1,2 x 1,8 м</em>
      </td>
    </tr>
    <tr>
      <td>
        <p style="padding: 0;"><a href="/catalogue/advertisment/23x43/43/">Скроллеры 2,3 × 4,3 м</a></p>
						<span>

															<a href="/catalogue/advertisment/23x43/43/"><%= image_tag image_path('production/advertisment/6b3fe6976d34f96ea23df0001c2e3cb3.png'), alt: '', style: '' %></a>
													</span>
        <em>рекламное изображение<br>2 × 4 м</em>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="two-cols">
  <div class="tc-left">
    <p>Также возможно изготовление дисплеев других форматов и нестандартных размеров по желанию заказчика. В
      зависимости от исполнения, конструкция позволяет использовать ее как внутри помещения, так и на улице.</p>
  </div>
  <div class="tc-right">
    <p>Наши скроллеры могут изготавливаться в различных вариантах — в виде подвесной либо настенной конструкций или
      отдельно стоящей на опоре. Для отдельно стоящих конструкций монтаж опоры осуществляется на анкерные болты к
      бетонному блоку или на самостоятельную металлическую платформу.</p>
  </div>
</div>