<div class="two-cols">
  <div class="tc-left">
    <h4>Общая информация</h4>
    Компания «ДиМедиа» предлагат вам новейшие светодиодные видеоэкраны с основными традиционными форматами рекламного
    поля: 4:3 и 9:6
    <ul>
      <li>с напольным основанием - опорой</li>
      <li>настенные или навесные экраны</li>
    </ul>
    <br><%= image_tag image_path('production/led_screens/ledscreen_02.jpg'), alt: '', style: '' %>
  </div>
  <div class="tc-right">
    <h4>Основные преимущества готовых светодиодных экранов производства компании «ДиМедиа»</h4>
    <ul>
      <li>Готовые светодиодные экраны - новинка в России, т.к. вместо рабочего проекта несущего корпуса видеоэкрана мы
        предлагаем готовое решение, а именно – экран в собранном виде с возможностью его дальнейшей транспортировки.
      </li>
      <li>Несущие конструкции: каркас экрана с установленными светодиодными модулями и опора поставляются собственным
        автотранспортом в готовом виде.
      </li>
      <li>Светодиодные экраны «под ключ» заранее протестированы и готовы к работе с первого дня после доставки до места
        монтажа и установки на бетонное основание.
      </li>
      <li>Конструкция cветодиодного экрана «под ключ» выполнена на основе алюминиевого профиля высокого качества
        (алюминиевый сплав АД31 ГОСТ 4784-97).
      </li>
      <li>Одним из основных преимуществ является возможность быстрого монтажа/демонтажа конструкции с последующей ее
        передислокацией в любое другое место (в случае окончания договора аренды, для шоу/презентации и т.д.)
      </li>
      <li>Для удобного доступа и проведения сервисного обслуживания, а так же для доступа к светодиодным модулям
        изнутри, экран выполнен на основе кабинетов из алюминиевого сплава, что уменьшает общий вес.
      </li>
    </ul>
  </div>
</div>
<h4>Комплектация и форма оплаты</h4>

<div class="two-cols">
  <div class="tc-left">
    <strong>Стандартная комплектация светодиодного экрана Хайтек «под ключ»:</strong>
    <ul>
      <li>Металлический усиленный корпус с аллюминиевым декоративным обрамлением</li>
      <li>Опора (высота - любая, по усмотрению заказчика)</li>
      <li>Система вентиляции</li>
      <li>Управляющий компьютер</li>
      <li>Передача данных: Ethernet, Wi-fi</li>
      <li>ПО Led Studio</li>
      <li>Вариант исполнения: видео/статика (вторая сторона —
        <a href="/catalogue/advertisment/flexboard/23/">флексборд</a>)
      </li>
    </ul>
  </div>
  <div class="tc-right">
    <strong>Дополнительная комплектация:</strong>
    <ul>
      <li>Альтернативные способы передачи данных (3G, Wi-Max, Yota)</li>
      <li>Вариант исполнения: видео/динамика (вторая сторона —
        <a href="/catalogue/advertisment/cityboard/25/">ситиборд</a>, до 8 динамических изображений)
      </li>
    </ul>
    <br><strong>Форма оплаты</strong>
    <ul>
      <li>Первый платеж - 60%, в течении 3-х дней после подписания договора поставки.</li>
      <li>Второй платёж – 40%, перед отгрузкой готовой продукции.</li>
    </ul>
  </div>
</div>
<div class="two-cols">
  <div class="tc-left"><%= image_tag image_path('production/led_screens/led_scr_004.jpg'), alt: '', style: '' %></div>
  <div class="tc-right"><%= image_tag image_path('production/led_screens/led_scr_005.jpg'), alt: '', style: '' %></div>
</div>

<h3>«Готовые решения» – типовые размеры и технические характеристики </h3><br>

<div class="tabs">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P10 DIP 2×3 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P12 DIP 2×3 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 2×3 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 2×3 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>10 мм</td>
      <td>12 мм</td>
      <td>16 мм</td>
      <td>20 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>160 мм × 160 мм</td>
      <td>192 × 192 мм</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>16 × 16 точек</td>
      <td>16 × 16 точек</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="4">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 7500 кд/м2</td>
      <td>&gt; 6000 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="4">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="4">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="4">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="4">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="4">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="4">1920 × 2880 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
    </tr>
    <tr>
      <td>Количество кабинетов</td>
      <td>6 шт. (2 × 3)</td>
      <td>6 шт. (2 × 3)</td>
      <td>6 шт. (2 × 3)</td>
      <td>6 шт. (2 × 3)</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="4">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>288 × 192</td>
      <td>240 × 160</td>
      <td>180 × 120</td>
      <td>144 × 96</td>
    </tr>
    <tr>
      <td>Габариты экрана, В×Ш×Г</td>
      <td colspan="4">2090 × 3050 × 365 мм</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>5700 Вт</td>
      <td>4500 Вт</td>
      <td>5700 Вт</td>
      <td>4500 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>2500 Вт</td>
      <td>1850 Вт</td>
      <td>2500 Вт</td>
      <td>1850 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="4">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="4">усиленная металлическая конструкция с декоративным алюминиевым обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общий Вес (Опора+Экран)</td>
      <td>320 кг + 660 кг</td>
      <td>320 кг + 642 кг</td>
      <td>320 кг + 630 кг</td>
      <td>320 кг + 618 кг</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="4">5,5296 м<sup>2</sup></td>
    </tr>
    <tr>
      <td>Общее количество пикселей экрана</td>
      <td>55296</td>
      <td>38400</td>
      <td>21600</td>
      <td>13824</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="4">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 7 м</td>
      <td>от 9 м</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
    </tr>
    </tbody>
  </table>
</div>
<div id="3x4" style="display: none;">
  <div class="two-cols">
    <div class="tc-left"><%= image_tag image_path('production/led_screens/led_scr_021.jpg'), alt: '', style: '' %></div>
    <div class="tc-right"><%= image_tag image_path('production/led_screens/led_scr_022.jpg'), alt: '', style: '' %></div>
  </div>
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P10 DIP 3×4 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P12 DIP 3×4 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 3×4 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 3×4 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>10 мм</td>
      <td>12 мм</td>
      <td>16 мм</td>
      <td>20 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>160 мм × 160 мм</td>
      <td>192 × 192 мм</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>16 × 16 точек</td>
      <td>16 × 16 точек</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="4">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 7500 кд/м2</td>
      <td>&gt; 6000 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="4">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="4">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="4">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="4">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="4">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="4">2880 × 3840 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
    </tr>
    <tr>
      <td>Количество кабинетов</td>
      <td>12 шт. (3 × 4)</td>
      <td>12 шт. (3 × 4)</td>
      <td>12 шт. (3 × 4)</td>
      <td>12 шт. (3 × 4)</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="4">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>384 × 288</td>
      <td>320 × 240</td>
      <td>240 × 180</td>
      <td>192 × 144</td>
    </tr>
    <tr>
      <td>Габариты экрана, В×Ш×Г</td>
      <td colspan="4">3050 × 4000 × 380 мм</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>10785 Вт</td>
      <td>8410 Вт</td>
      <td>10785 Вт</td>
      <td>8410 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>4315 Вт</td>
      <td>3100 Вт</td>
      <td>4315 Вт</td>
      <td>3100 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="4">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="4">усиленная металлическая конструкция с декоративным алюминиевым обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общий Вес (Опора+Экран)</td>
      <td>320 кг + 1038 кг</td>
      <td>320 кг + 939 кг</td>
      <td>320 кг + 1093 кг</td>
      <td>320 кг + 1021 кг</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="4">11,06 м<sup>2</sup></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>110 592</td>
      <td>76 800</td>
      <td>43 200</td>
      <td>27648</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="4">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 7 м</td>
      <td>от 9 м</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
    </tr>
    </tbody>
  </table>
</div>
<div id="3x5" style="display: none;">
  <div class="two-cols">
    <div class="tc-left"><%= image_tag image_path('production/led_screens/led_scr_018.jpg'), alt: '', style: '' %></div>
    <div class="tc-right"><%= image_tag image_path('production/led_screens/led_scr_019.jpg'), alt: '', style: '' %></div>
  </div>
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P10 DIP 3×5 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P12 DIP 3×5 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 3×5 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 3×5 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>10 мм</td>
      <td>12 мм</td>
      <td>16 мм</td>
      <td>20 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>160 мм × 160 мм</td>
      <td>192 × 192 мм</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>16 × 16 точек</td>
      <td>16 × 16 точек</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="4">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 7500 кд/м2</td>
      <td>&gt; 6000 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="4">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="4">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="4">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="4">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="4">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="4">2880 × 4800 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
    </tr>
    <tr>
      <td>Количество кабинетов</td>
      <td>15 шт. (3 × 5)</td>
      <td>15 шт. (3 × 5)</td>
      <td>15 шт. (3 × 5)</td>
      <td>15 шт. (3 × 5)</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="4">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>480 × 288</td>
      <td>400 × 240</td>
      <td>300 × 180</td>
      <td>240 × 144</td>
    </tr>
    <tr>
      <td>Габариты экрана, В×Ш×Г</td>
      <td colspan="4">3050 × 4970 × 466 мм</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>13800 Вт</td>
      <td>10850 Вт</td>
      <td>13800 Вт</td>
      <td>10850 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>5690 Вт</td>
      <td>4170 Вт</td>
      <td>5690 Вт</td>
      <td>4170 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="4">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="4">усиленная металлическая конструкция с декоративным алюминиевым обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общий Вес (Опора+Экран)</td>
      <td>320 кг + 1249 кг</td>
      <td>320 кг + 1204 кг</td>
      <td>320 кг + 1174 кг</td>
      <td>320 кг + 1144 кг</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="4">13,824 м<sup>2</sup></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>138 240</td>
      <td>96 000</td>
      <td>54 000</td>
      <td>34 560</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="4">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 7 м</td>
      <td>от 9 м</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
    </tr>
    </tbody>
  </table>
</div>
<div id="3x6" style="display: none;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P10 DIP 3×6 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P12 DIP 3×6 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 3×6 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 3×6 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>10 мм</td>
      <td>12 мм</td>
      <td>16 мм</td>
      <td>20 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>160 мм × 160 мм</td>
      <td>192 × 192 мм</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>16 × 16 точек</td>
      <td>16 × 16 точек</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="4">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 7500 кд/м2</td>
      <td>&gt; 6000 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="4">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="4">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="4">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="4">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="4">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="4">2880 × 5760 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
    </tr>
    <tr>
      <td>Количество кабинетов</td>
      <td>18 шт. (3 × 6)</td>
      <td>18 шт. (3 × 6)</td>
      <td>18 шт. (3 × 6)</td>
      <td>18 шт. (3 × 6)</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="4">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>576 × 288</td>
      <td>480 × 240</td>
      <td>360 × 180</td>
      <td>288 × 144</td>
    </tr>
    <tr>
      <td>Габариты экрана, В×Ш×Г</td>
      <td colspan="4">3050 × 5930 × 466 мм</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>16300 Вт</td>
      <td>12800 Вт</td>
      <td>16300 Вт</td>
      <td>12800 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>6670 Вт</td>
      <td>4850 Вт</td>
      <td>6670 Вт</td>
      <td>4850 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="4">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="4">усиленная металлическая конструкция с декоративным алюминиевым обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общий Вес (Опора+Экран)</td>
      <td>320 кг + 1349 кг</td>
      <td>320 кг + 1295 кг</td>
      <td>320 кг + 1259 кг</td>
      <td>320 кг + 1223 кг</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="4">16,59 м<sup>2</sup></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>165 888</td>
      <td>115 200</td>
      <td>64 800</td>
      <td>41 472</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="4">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 7 м</td>
      <td>от 9 м</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
    </tr>
    </tbody>
  </table>
</div>
</div>