<div class="footerBottomSection">
  <div class="container">
    &copy; 2014 <%= link_to 'ПИРА', root_path, title: app_name %><br>
    Наши партнеры
    <%= link_to 'Китай в Вашем городе', 'http://www.china.piratv.ru/' %> | <%= link_to 'DiMedia', 'http://scrollers.ru/' %>
    <div class="pull-right">
      <%= link_to root_path, title: app_name do %>
          <%= image_tag 'logo.png', title: app_name, alt: app_name %>
      <% end %>
    </div>
  </div>
</div>