<div class="topHeaderSection">
  <div class="header">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path, class: 'navbar-brand', title: app_name do %>
            <%= image_tag 'logo.png', title: app_name, alt: app_name %>
        <% end %>
      </div>
      <div class="navbar-collapse collapse">
        <%= link_to create_url('language', 'russian'), alt: 'Русский язык', title: 'Русский язык' do %>
            <%= image_tag image_path('flag_russian.gif'), style: 'float:right;margin-right:5px', alt: 'Русский язык' %>
        <% end %>
        <%= link_to create_url('language', 'english'), alt: 'English', title: 'English' do %>
            <%= image_tag image_path('flag_english.gif'), style: 'float:right;margin:5px', alt: 'English' %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li<%= check_active_page('index') %>><%= link_to t('Home'), root_path %></li>
          <li<%= check_active_page('production') %>><%= link_to t('Production'), create_url(t('production')) %></li>
          <li<%= check_active_page('contact') %>><%= link_to t('Contact'), create_url(t('contact')) %></li>
          <li<%= check_active_page('work') %>><%= link_to t('Job'), create_url(t('work')) %></li>
          <li<%= check_active_page(t 'portfolio') %>><%= link_to t('Portfolio'), create_url(t('portfolio')) %></li>
          <li<%= check_active_page(t 'thanks') %>><%= link_to t('thanks'), create_url(t('thanks')) %></li>
          <li><%= link_to t('Direct delivery from China'), 'http://china.piratv.ru', target: '_blank' %></li>
        </ul>

      </div>
    </div>
  </div>
</div>