<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'solution/main/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'solution/main/application', 'data-turbolinks-track' => true %>
  <%= yield(:sites) %>
  <%= yield(:portfolio) %>
  <%= yield(:production) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/notice' %>

<%= render '/layouts/login' %>

<%= render '/layouts/links' %>

<%= render '/layouts/banners' %>

<%= yield %>

<%= render '/layouts/footer' %>

</body>
</html>